

    <div class="sidebar">
      <div class="sidebar-wrapper">
        <ul class="nav">
             <li class="active">
            <a href="/">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Status</p>
            </a>
          </li>
          <li class="active">
            <a href="/ui-growth.html">
              <i class="tim-icons icon-atom"></i>
              <p>Growth</p>
            </a>
          </li>
          <li class="active">
            <a href="/ui-feeding.html">
              <i class="tim-icons icon-pin"></i>
              <p>Feeding</p>
            </a>
          </li>
          <li class="active">
            <a href="/ui-biomass.html">
              <i class="tim-icons icon-bell-55"></i>
              <p>Biomass</p>
            </a>
          </li>
          <li class="active">
            <a href="/ui-notifications.html">
              <i class="tim-icons icon-puzzle-10"></i>
              <p>Notifications</p>
            </a>
          </li>
          <li class="active">
            <a href="/ui-business.html">
              <i class="tim-icons icon-world"></i>
              <p>Business Intelligence</p>
            </a>
          </li>
          <li class="active">
            <a href="/page-user.html">
              <i class="tim-icons icon-align-center"></i>
              <p>Mypage</p>
            </a>
          </li>
        </ul>
        
      </div>
    </div>
