{% extends "layouts/base.html" %}

{% block title %} UI Notifications {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Notifications</h4>
      </div>
      <div class="card-body">
        <div class="alert alert-warning">
          <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
            <i class="tim-icons icon-simple-remove"></i>
          </button>
          <span><b> Warning - </b> 주간 폐사율이 10%를 넘었어요! 질병을 의심해 보시고 조치를 취해주세요! 장어의 폐사 원인은 OOO이 있고 사료를 적게 급이 한다면 나아질 수 있습니다!</span>
        </div>
        <div class="alert alert-success">
          <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
            <i class="tim-icons icon-simple-remove"></i>
          </button>
          <span><b> Success - </b> 영석님의 연어가 20Kg에 도달했습니다! 현재 Kg당 시세는 50만원이고 영석님의 매출은 300억이 예상됩니다!</span>
        </div>
        <div class="alert alert-success">
          <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
            <i class="tim-icons icon-simple-remove"></i>
          </button>
          <span><b> Success - </b> 수조 안 총 체중이 1t이 넘었습니다! 선별 작업을 진행하여 물고기를 더 건강하게 키워보세요!</span>
        </div>
        <div class="alert alert-primary">
          <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
            <i class="tim-icons icon-simple-remove"></i>
          </button>
          <span><b> Primary - </b> 영석님의 주간 사료 소비량이 10% 증가했습니다! 해당 수조의 적정 사료량은 하루 17Kg이 적당합니다!</span>
        </div>
        <div class="alert alert-info">
          <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
            <i class="tim-icons icon-simple-remove"></i>
          </button>
          <span><b> Info - </b> 타 양식장에 비해 사료 사용량 대비 성장률이 10% 저조합니다! 사료 추천을 원하면 <b>클릭</b></span>
        </div>
        <div class="alert alert-danger">
          <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
            <i class="tim-icons icon-simple-remove"></i>
          </button>
          <span><b> Danger - </b> 수조 수온이 너무 낮습니다! (24 도 이하) 수온을 낮춰주세요!</span>
        </div>
        <div class="alert alert-danger">
          <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
            <i class="tim-icons icon-simple-remove"></i>
          </button>
          <span><b> Danger - </b> 용존산소량이 너무 낮습니다! (5 mg/L 이하) 산소 밸브를 열어주세요!</span>
        </div>
        <div class="alert alert-primary">
          <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
            <i class="tim-icons icon-simple-remove"></i>
          </button>
          <span><b> Primary - </b> 사료 낭비량이 심하여 자동 급이를 중단하였습니다! 1시간 뒤 다시 급여 시작합니다</span>
        </div>
        <div class="alert alert-info">
          <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
            <i class="tim-icons icon-simple-remove"></i>
          </button>
          <span><b> Info - </b> 새로운 공공 직불금 신청 공고가 공지되었습니다. <b>바로가기</b>에서 신청 가능합니다!</span>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
